
/* STAR RATING SYSTEM */
.star {
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	background-image: url('../../images/star.png');
}
.emptyStar {
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	background-image: url('../../images/emptystar.png');
}
.rating {
	display: flex;
	width: 80%;
	justify-content: left;
}