
/* QUANTITY SYSTEM */
.quantityTaco {
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	background-image: url(https://image.flaticon.com/icons/svg/579/579028.svg);
}
.quantity {
	display: flex;
}
