.Header {
	background: #AD2E24;
	height: 12%;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.titlebox {
	display: flex;
	height: 100%;
	align-items: center;
}

.titlebox img {
	height: 80%;
	margin: 0px 5px;
}
