.Header {
	background: #AD2E24;
	height: 10%;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.auth {
	height: 50%;
	display: flex;
	align-items: center;
}

.login {
	height: 100%;
	display: flex; 
	align-items: center;
	margin: 0 10px;
}

.titlebox, .admincontrols{
	display: flex;
	height: 100%;
	align-items: center;
}

.admincontrols {
	width: 33%;
	justify-content: space-evenly;
}

.usercontrols {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
}

.titlebox img {
	height: 80%;
	margin: 0px 5px;
}
