.App {
	height: 100vh;
	width: 100vw;
	background-color: #FCFCFC;
}
.body {
	position: relative;
	top: 12%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FCFCFC;
}